body{
    background-image: url(../images/background_fer.svg);  
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed;
}

.main, .info, .image, .description, .hobbie{
    display: grid;
}
.main{
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    background-color: yellowgreen;
}

.info{
    
    background-color: aqua;
}

.image{
    padding: 3rem;
}

img{
     
}

.description{
    
    background-color: blue;
}